*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'poppins',sans-serif;
}

  /* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  blue;
    padding: 10px;
    box-shadow: 4px 4px 8px black;
}

.navbar h2{
    color: white;
    text-shadow: 2px 2px 4px black;
}

.navbar-links{
    display: flex;
    justify-content: column;
}

.navbar-links p{
    padding-right: 20px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
    cursor: pointer;
}

.navbar-links p:hover{
    color: rgb(15, 161, 206);
}

.menu{
    font-size: 22px;
    padding-right: 20px;
    display: none;
}

/* side navbar */

.side-navbar{
    background-color: blue;
    width: 60%;
    height:100%;
    position: fixed;
    top: 0;
    left: -70%;
    padding: 20px;
    transition: 3s;
    z-index: 1;
}

.close-side-navbar{
    color: red;
    font-size: 20px;
    text-shadow: 2px 2px 4px black;
    padding-left: 200px;
    cursor: pointer;
}

.side-navbar h4{
    padding-top: 20px;
    font-size: 15px;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.side-navbar-links{
    margin-top: 35px;
}

.side-navbar-link p{
    padding-bottom: 20px;
    color: red;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
    cursor: pointer;
}

.side-navbar-link p:hover{
    color: yellow;
}

/* Header */

.about-bg{
    background: url(free-website-background-21.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

.about-box{
    display: flex;
    justify-content: column;
    margin-top: 70px;
    margin-left: 100px;
    margin-right: 150px;
}

.img-section{
    display:  block;
    border-radius: 20px;
    box-shadow: 4px 4px 8px black;
}

.content{
    padding-right: 50px;
}

.content h1{
    display: inline;
    background-color: transparent;
    box-shadow: 2px 2px 4px black;
    padding: 15px;
    border-radius: 50px;
    font-size: 18px;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.content p{
    padding-top: 30px;
    font-weight: bold;
}

.social-icons{
    padding-left: 100px;
    margin-top: -30px;
}

.social-icons a{
    width: 80px;
    height: 30px; 
    margin-bottom: 20px;
    color: white;
    text-shadow: 2px 2px 4px black;
    font-weight: bold;
    border: none;
}

.social-icons h3{
    padding-top: 10px;
    text-shadow: 1px 1px 2px white;
}

.media-btn i{
    margin-top: 5px;
    padding-right: 20px;
    margin-right: 30px;
    font-size: 30px;
    text-shadow: 2px 2px 4px black;
    background-color: transparent;
    box-shadow: 2px 2px 4px black;
    padding: 10px;
    border-radius: 100%;
    color: white;
}

.media-btn i:hover{
    color: yellow
}

/* FAQ Page */

.faq-container{
    background-image: url(istockphoto-123359769-170667a.webp);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 10px;
    display: none;
}

.faq-page{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 700px;
    background-color: transparent;
    position: absolute;
    border-radius: 25px;
    padding: 30px 90px 30px 60px;
    box-shadow: 4px 4px 8px black;
    margin-top: 60px;
    margin-left: 250px;
}

.image-box{
    height: 360px;
    width: 350px;
}

.image-box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.faq-page-text .title{
    font-size: 35px;
    font-weight: 600;
    color: blue;
    text-shadow: 2px 2px 4px black;
}

.faq-page-text .faq-text{
    margin-top: 25px;
    height: 263px;
    overflow-y: scroll;
}

.faq-text::-webkit-scrollbar{
    display: none;
}

.faq-page-text .faq-text li{
    list-style: none;
}

.faq-page-text .faq-text .question-arrow{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faq-page-text .faq-text .question-arrow i{
    padding-left: 20px;
    font-size: 20px;
    cursor: pointer;
    text-shadow: 1px 1px 2px black;
}

.faq-page-text .faq-text .question-arrow i:hover{
    color: red;
}

.faq-page-text .faq-text li .line{
    display: block;
    height: 2px;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    margin: 10px 0;
}

.faq-page-text .faq-text .question-arrow .question{
    font-size: 18px;
    font-weight: 500;
    text-shadow: 1px 1px 2px black;
}


.question:hover{
    color: red;
    cursor: pointer;
}

.html-faq{
    width: 96%;
    font-size: 12px;
    font-weight: 500;
    display: none;
}

.css-faq{
    width: 96%;
    font-size: 12px;
    font-weight: 500;
    display: none;
}

.js-faq{
    width: 96%;
    font-size: 12px;
    font-weight: 500;
    display: none;
}

.react-faq{
    width: 96%;
    font-size: 12px;
    font-weight: 500;
    display: none;
}

.node-faq{
    width: 96%;
    font-size: 12px;
    font-weight: 500;
    display: none;
}

/* Terms & Conditions */

.teams-condition-page {
    background-image: url(istockphoto-1370678535-170667a.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 120%;
    position: absolute;
    display: none;
}

.terms-box{
    margin-top: 40px;
    margin-left: 400px;
    max-width: 500px;
    color: black;
    background-color: transparent;
    padding: 60px 30px;
    border-radius: 25px;
    box-shadow: 4px 4px 8px black;
}

.terms-text{
    padding: 0 20px;
    height: 400px;
    overflow-y: scroll;
    font-size: 14px;
    font-weight: 500;
    color: black;
    text-align: justify;
}

.terms-text::-webkit-scrollbar{
    width: 4px;
    background-color: transparent;
}

.terms-text::-webkit-scrollbar-thumb{
    background-color: blue;
}

.terms-text h2{
    text-transform: uppercase;
    color: blue;
    text-shadow: 2px 2px 4px black;
}

.terms-text h4{
    font-size: 13px;
    text-align: center;
    padding: 0 40px;
}

.button{
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
}

.btn{
    height: 40px;
    width: calc(50% - 6px);
    border: 0;
    border-radius: 5%;
    color: white;
    cursor: pointer;
}

.blue-btn{
    background-color: blue;
    border: 5px;
    border-radius: 10px;
    font-size: 15px;
}

.gray-btn{
    background-color: grey;
    border: 5px;
    border-radius: 10px;
    font-size: 15px;
}

.para{
    padding-top: 20px;
}

.check-box{
    margin-right: 15px;
}


@media screen and (max-width: 700px){
    .menu{
        display: block;
    }

    .navbar-links{
        display: none;
    }

    .navbar h2{
        font-size: 15px;
    }
    
    .about-bg{
        background-image: none;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .protrait-img{
        background-image: url(img1.jpg);
        width: 300px;
        height: 300px;
        margin-top: 40px;
        margin-left: 45px;
        box-shadow: 4px 4px 8px black;
        border-radius: 20px;
    }
    
    .about-box{
        margin-top: 50px;
        margin-left: 20px;
        margin-right:  1px;
    }
    
    .img-section{
        display: none;
    }
    
    .content{
        padding-right: 5px;
    }
    
    .content h1{
        background-color: blue;
        padding: 10px;
        font-size: 15px;
    }
    
    .content p{
        padding-top: 30px;
        font-weight: bold;
        text-align: justify;
        padding-right: 10px;
    }
    
    .social-icons{
        padding-left: 30px;
        margin-top: 10px;
    }
    
    .social-icons h3{
        font-size: 15px;
        padding-top: 30px;
    }
    
    .media-btn i{
        background-color: white;
    }

    .social-icons a{
        color: blue;
    }

    .media-btn i{
        margin-bottom: 30px;
        background-color: blue;
    }

    .faq-page{
        max-width: 350px;
        padding: 10px 10px 10px 10px;
        margin-left: 1px;
    }

    .faq-page-text .faq-text .question-arrow .question{
        font-size: 12px;
    }

    .terms-box{
        margin-top: 40px;
        margin-left: 1px;
        max-width: 450px;
        padding: 40px 20px;
    }
}